body, a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #404040;
}

/* cabeçalho */

.item-lista-cabeçalho a{
    color: #112e61;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}

/* seção hero */

h1{
    font-size: 35px;
    font-weight: 600;
}

.hero-paragrafo{
    font-weight: 350;
    font-size: 19px;
}

.hero-botao{
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

/* conteúdos gratuitos */

.destaque-gratuito{
    font-weight: 600;
    color: #7a40be;
}

.titulo-gratuito{
    font-weight: 400;
    font-size: 22px;
}

.subtitulo-gratuito{
    font-weight: bold;
    font-size: 18px;
}

.botao-gratuito {
    text-decoration: none;
    font-size: 19px;
}

/* diferenciais */

.titulo-diferencial{
    font-size: 22px;
    font-weight: 600;
}

.destaque-diferencial{
    font-size: 22px;
}

.h3-diferencial{
    font-size: 20px;
    color: #005e88;
    font-weight: 600;
}

.p1-diferencial{
    font-size: 16px;
}

.p2-diferencial{
    font-size: 16px;
}

.h3-2-diferencial{
    font-size: 35px;
}

.h3-2-diferencial a{
    color: #005e88;
    text-decoration: none;
}